# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Unity-based Simulation of Active Transport in Built Environment
author: Dimitrios Dimitriadis, Thodoris Gounelas
copyright: "2024"  # Copyright year to be placed in the footer
#logo: logo-wide.svg

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_engine: xelatex
  latex_documents:
    targetname: book.tex
  latex_elements:
    papersize: a4paper
    pointsize: 11pt
    preamble: |
      % Custom LaTeX preamble for thesis
      % Remove chapter numbering
      \renewcommand{\chapter}{\@startsection{chapter}{0}{0pt}{-3.5ex plus -1ex minus -.2ex}{2.3ex plus .2ex}{\normalfont\huge\bfseries}}
      \renewcommand{\thechapter}{}
      % Color and section styling
      \usepackage{color}
      \definecolor{myblue}{RGB}{0, 102, 204}
      \usepackage{sectsty}
      \chapterfont{\color{myblue}}
      \sectionfont{\color{myblue}}
      \subsectionfont{\color{myblue}}
      % Page style
      \usepackage{fancyhdr}
      \pagestyle{fancy}
      \fancyhead{}
      \fancyhead[LE,RO]{\thepage}
      \fancyhead[RE]{\leftmark}
      \fancyhead[LO]{\rightmark}
      \fancyfoot{}
      % Add more customizations here
      % Add abstract, acknowledgements, dedication pages if needed
      \newcommand{\thesisabstract}[1]{\chapter*{Abstract}\addcontentsline{toc}{chapter}{Abstract}#1\newpage}
      \newcommand{\thesisacknowledgements}[1]{\chapter*{Acknowledgements}\addcontentsline{toc}{chapter}{Acknowledgements}#1\newpage}
      \newcommand{\thesisdedication}[1]{\chapter*{Dedication}#1\newpage}
    maketitle: |
      % Custom Greek thesis title page with logo
      \begin{titlepage}
        \centering
        \vspace*{1cm}
        \includegraphics[width=0.18\textwidth]{unilogo.png}\\[1.5cm]
        {\fontsize{18}{22}\selectfont\textbf{ΠΑΝΕΠΙΣΤΗΜΙΟ ΘΕΣΣΑΛΙΑΣ}\\[0.5em]}
        {\large Σχολή Τεχνολογίας \\[0.5em] Τμήμα Ψηφιακών Συστημάτων \\[2em]}
        {\fontsize{24}{28}\selectfont\textbf{Τίτλος Πτυχιακής}\\[2em]}
        {\large \textbf{ΠΤΥΧΙΑΚΗ ΕΡΓΑΣΙΑ} \\[1.5em]}
        {\large Ονοματεπώνυμο (AM: ?) \\[1.5em]}
        {\large Επιβλέπων: ονομ/μο, βαθμίδα \\[2em]}
        {\large \today\par}
        \vfill
      \end{titlepage}
  latex_additional_files:
    - references.bib

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# NOTE: commented options below have been move to sphinx section
#---------------------------------------------------------------
# Information about where the book exists on the web
#repository:
#  url: https://github.com/executablebooks/jupyter-book  # Online location of your book
#  path_to_book: docs  # Optional path to your book, relative to the repository root
#  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
#html:
#  use_issues_button: false
#  use_repository_button: false
#  use_download_button: false
#
#launch_buttons:
#  colab_url: "https://colab.research.google.com"
#  binderhub_url: "https://mybinder.org"

parse:
  myst_enable_extensions:
    - dollarmath  # First 4 extension are active by default, but have to explictly activated when adding deflist
    - linkify
    - substitution
    - colon_fence
    - deflist # not active by default, necessary to support definition lists

sphinx:
  config:
    jblatex_captions_to_parts: false
    bibtex_bibfiles: ['references.bib']
    bibtex_reference_style: author_year
    html_theme_options:
        use_download_button: false
        repository_url: https://github.com/onoufrios/numan
        repository_branch: main
        use_issues_button: false
        use_repository_button: false
        use_edit_page_button: false
  extra_extensions:
    - sphinxcontrib.bibtex

